/* styles by Celeste Ramirez*/
/*normalize*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of CSS reset */

/*root */
:root{
    --yellow:#F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
  }
  /*skip link */
  #skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    #skip:focus{
        position: static;
        width: auto;
        height: auto;
    }
  }
  
  /* font style */
  h1,h2,h3{
    font-family: 'Molle', cursive;
    padding: 0.5rem;
  }
  
  h4,p,q,small,nav,button,form{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 1rem;
  }
  
 #logo {
    padding: 0.5rem;
  }

  h1 {
    font-size: 5rem;
    padding: 1rem;
  }

  h2, h3 {
    font-size: 4rem;
    padding: 10%;

  }

  p {
    padding: 2rem;

     
  }

  /*header and nav */

  header {
    display: grid;
    background: var(--teal);
    background: linear-gradient(180deg, var(--teal) 0%, var(--white) 100%);
    padding: 1rem;
    width: calc(100% - 2rem)
    grid-template-columns: 1fr 1fr;
  }

  :root{
    --yellow:#F6D64A;
    --teal:#55BCD5;
    --purple:#9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.menu-toggle {
   display: grid;
    top:0;
    background: var(--teal);
    background: linear-gradient(180deg, var(--teal) 0%, var(--white) 100%);
    padding: 1rem;
    width: 100% 
    z-index: 1;
}

nav {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--black) 1px solid;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: var(--black);
  
} 

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

.menu-toggle {
  background-color: var(--yellow);
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu {
  transform: scale(1, 1);
}


@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: var(--teal);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: var(--yellow);
    font-size: 28px;
    cursor: pointer;
  }
}
  
  header label{
    width: 6rem;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--yellow);
    position: absolute;
    top: 0px;
    right: 0;

  }

  .sr-only{
    display: none;
  }
/* images */
  #img-grid img {
    display: grid;
    grid-template-rows: max-content;
    grid-row: 1;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

/* plan your trip section */
  #plan {
    background-color: var(--yellow);
  }

  .plan-btn {
    background-color: var(--teal);
    margin: 3rem;
    padding: 2rem;
    border: 5px solid var(--white);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 1rem;
    
  }

  h4 {
    font-weight: bold;
    font-size: 3rem;
  }

  /* testimonials*/
  #testimonials {
    text-align: center;
    display: block;
    
  }

  /*destination  */
  #about {
    background-color: var(--blue);
    display: grid; 
  }

  #about h3 {
    grid-column: 1/-1;
    margin: 2rem;
    max-width: 75%;
  }

  #about div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 5rem;
    margin: 4rem;
  }
  #about section {
   width: 25%;
  }

  /* footer */
  footer {
    background-color: var(--light-gray);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  footer a {
    text-decoration: none;
    width: 30%;
    margin: 0 auto;
    color: var(--black);
    padding: 1rem;
    font-size: 1.5rem;
  }

/* contact us form */
form{
	display: block;
	width: 75%;
	padding: 1em;
	margin: 0 auto;
	font-size: 3rem;
}

input, label, fieldset{
	display: block;
	width: 95%;
  padding: 5%;
}

.required{
  display: inline-block;
  color: var(--purple);
  font-size: 2rem;
  font-weight: bold;
}

input{
	font-size: 1em;
	padding: 2rem;
	border: 5px solid var(--purple);
	height: 1.5em;
}

label{
	padding-left: 0.5em;
	margin: 0.75em 0 0.75em 0;
}

fieldset{
	padding: 0.5em 0 1em 0.5em;
	margin: 0.75em 0 0.25em 0;
	width: 98%;
	display: grid;
	grid-template-columns: 1fr;
}

input[type="radio" ] {
  display: block;
  appearance: auto;
  box-sizing: border-box;
  margin-left: 3rem;
  margin-top: 2rem;
  padding: initial;
}


#prefEmail:checked {
  color:#9B26B0;
}

select{
  font-size: 1em;
	padding: 0.5rem;
	border: 5px solid var(--purple);
	height: 3em;
  width: calc(100%-1rem);
  margin: 2%;
}

input[type="submit" i] {
  color: var(--white);
  background-color: var(--purple);
  padding: 1rem;
  margin: 0.5rem;
  width: 50%;
}
  
/* meduim screen styles */

@media screen and (min-width: 950px){
  #img-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  #img-grid img {
    flex-basis: calc(50% - 10px); /* Subtract 10px to account for the gap between the images */
    margin-right: 10px; /* Add a 10px gap between the images */
  }
  
  #img-grid picture {
    flex-basis: 100%;
    margin-top: 10px; /* Add a 10px gap between the second row and the third image */
  }
  

  #plan div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10em;
    padding: 1rem;
    margin: 1rem;
  }

  #testimonials div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 5rem;
    margin: 4rem;
  }

  #about{
  grid-template-columns: 1fr 5fr;
  align-items: center;
  }

  #about div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer {
    grid-template-columns: 1fr 4fr;
  }
  
  .menu-toggle {
    display: none;
  }
  
}

@media screen and (min-width: 900px){
/* form */
#contact form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  #contact label,
#contact input,
#contact select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin: 1rem;
}

#testimonials div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about{
  grid-template-columns: 1fr 5fr;
  align-items: center;
  }

#plan div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

}
   