/* styles by Celeste Ramirez*/
/*normalize*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of CSS reset */

/*root */
:root{
    --yellow:#F6D64A;
    --teal:##55BCD5;
    --purple:#9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
  }
  /*skip link */
  #skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    #skip:focus{
        position: static;
        width: auto;
        height: auto;
    }
  }
  /*header and nav */
  /* font style */
  h1,h2,h3{
    font-family: 'Molle', cursive;
    padding: 0.5rem;
  }
  
  h4,p,q,small,nav,button,form{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 1rem;
  }
  
 #logo {
    padding: 0.5rem;
  }

  h1 {
    font-size: 5rem;
    padding: 1rem;
  }

  h2, h3 {
    font-size: 4rem;
    padding-left: 3rem;
  }

  p {
    padding: 3rem;
     
  }

  header {
    display: grid;
    background-color: var(--blue);
    padding: 1rem;
    width: calc(100% - 2rem)
    
  }

 
 
  #menu-toggle{
    background-color: var(--yellow);
    grid-template-columns: 2/3;
  }

  nav{
    grid-column: 1/-1;
  }

  nav a{
    text-decoration:none;
    text-align: center;
    background-color: var(--blue);
    color: var(--black);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem 0;
    
  }
  nav li {
    list-style:none;
  }

  a {
    display: block;
    padding 0.5rem;
  }

  header nav{
    position: absolute;
    top:100%;
    left: 0;
    right:0;
    border: 1px solid var(--black);
    display: none;
  }

  header nav ul li{
    width: 100%;
  }

  #toggle:checked ~ nav {
    display:initial;

  }

  header label{
    width: 2rem;
    margin: 2rem;
    padding: 2rem;
    display: grid;
  }


